.education{
    flex-grow: 1;
}

h3 {
    padding-top: 0.25em;
}

.vertical-timeline-element-content {
    color: black;
    box-shadow: 0 0.25em 0 rgba(255,255,255,0.25), 0 0.4em 1.25em 0 rgba(255,255,255,0.15) !important;
    padding: 2em 3em !important;
}

.date{
    color: white;
}

@media only screen and (max-width: 1170px) {
    .vertical-timeline-element-date {
        display: block !important;
        float: none !important;
        color: black ;
    }
}
