.contactWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactWrapper p {
    padding-left: 20px;
}

.contactWrapper img {
    width: 20px;
    height: 20px;
    filter: invert(77%) sepia(50%) saturate(549%) hue-rotate(357deg) brightness(102%) contrast(97%); 
}