.project {
    text-align: center;
    /*border-bottom: 3px solid #383733;*/
    border-bottom: 3px solid hotpink;
}

.project h1{
    padding-top: 50px;
    padding-bottom: 50px;
}

.project p{
    padding-bottom: 25px;
}

.project .icon img{
    width: 30px;
    padding-bottom: 10px;
}