.project {
    text-align: center;
    border-bottom: 3px solid #fbd24a;
}

.project h1{
    padding-top: 50px;
    padding-bottom: 10px;
}

.project h5{
    padding-bottom: 30px;
}

.project p{
    padding-bottom: 25px;
}

.project .icon img{
    width: 30px;
    padding-bottom: 10px;
}