.home {
    flex-grow: 1;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home .title{
    width: 100%;
    font-size: 18px;
    text-align: center;
}

.home .title p{
    line-height: 50px;
}

.home .title button{
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 24px;
    margin-top: 30px;
    color: #2d2c29;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 999px;
    background-color: #fbd24a;
}

.home .profilePicture {
    max-width: 100%;
    margin-top: 20px;
    
}

.home .profilePicture img {
    max-width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 100%;
    
}

@media (min-width: 800px) {
    .home {
        flex-direction: row;
        justify-content: space-between;
    }

    .home .title{
        width: 70%;
        margin-top: 0;
        text-align: left;
        font-size: 25px;
    }
    .home .profilePicture{
        width: 20%;
        margin-top: 0;
        text-align: left;
        font-size: 25px;
    }

    .home .profilePicture img {
        width: 100%;
    }
}