.app {
  overflow: hidden;
  display: flex;
  margin: 50px auto;
  max-width: 1280px;
  padding: 0 150px;
  min-height: 100vh;
  border-radius: 10px;
  flex-direction: column;
  background-color: #2d2c29;
  color: white;
}

@media (min-width: 800px) {
  .app{
    padding: 0 100px;
    margin-top: 5vh;
    min-height: 90vh;
  }
}
